          

[
  {emqx_plugin_2db, [ 
    {odbc, ["mssql","test","test"] },
    {topics , 
        [
          {<<"sgcd/SolventLive">>,1}, 
          {<<"sgcd/BryAir">>,2},
          {<<"sgcd/BryAirAlarm">>,3},
          {<<"sgcd/TempHumi">>,4},
          {<<"sekurit/chakan/clpvbassy">>,5}
        ]
    },

    {reqlist,
      [
        [<<"ppm">>,<<"temp">>,<<"suid">>],
        [<<"ts">>, <<"suid">>, <<"SupAirRH">>, <<"ProcInRH">>, <<"ProcInAirTemp">>, <<"ProcOutAirTemp">>, <<"ReactInTemp">>, <<"ReactOutTemp">>],
        [<<"ts">>, <<"suid">>, <<"AlarmType">>, <<"AlarmStatus">>],
        [<<"ts">>, <<"suid">>, <<"temp">>, <<"humi">>],
        [<<"ts">>,<<"suid">>,<<"temp">>,<<"humi">>]
      ]
    },
            
    {que1 ,
        [
          "INSERT INTO [Marposs].[dbo].[sgcdSolventL1] ( [ts] ,[suid] ,[ppm] ,[temp]) VALUES( ? ,? , ? , ?)",

          "INSERT INTO [Marposs].[dbo].[sgcdBryAirAlarm] ([ts], [suid], [SupAirRH], [ProcInRH], [ProcInAirTemp],
          [ProcOutAirTemp], [ReactInTemp], [ReactOutTemp] ) VALUES(?,?,?,?,?,?,?,?)",

           "INSERT INTO [Marposs].[dbo].[sgcdBryAir] ([ts], [suid], [AlarmType], [AlarmStatus] ) VALUES(?,?,?,?)",

          "INSERT INTO [Marposs].[dbo].[sgcdTempHumi] ([ts], [suid], [temp], [humi] ) VALUES(?,?,?,?)",

          "INSERT INTO [DMS].[dbo].[clpvbassy] ( [ts] ,[suid] ,[temp] ,[humi]) VALUES( ? ,? , ? , ?)"
        ]
    
    },

    {que2,
        [

          "[   {{sql_varchar, 80},  [emqx_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"int\")] },
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"ppm\">>, MessageMaps,\"int\")] },
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"temp\">>, MessageMaps,\"int\")] }
              
          ]\.",


          "[   {{sql_varchar, 80},  [emqx_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"SupAirRH\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"ProcInRH\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"ProcInAirTemp\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"ProcOutAirTemp\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"ReactInTemp\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"ReactOutTemp\">>, MessageMaps,\"int\")]}
          ]\.",

          "[   {{sql_varchar, 80},  [emqx_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"AlarmType\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"AlarmStatus\">>, MessageMaps,\"int\")]}
          ]\.",
          
          "[   {{sql_varchar, 80},  [emqx_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"temp\">>, MessageMaps,\"int\")]},
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"humi\">>, MessageMaps,\"int\")]}
          ]\.",

          "[   {{sql_varchar, 80},  [emqx_plugin_2db:try_get_ts(Message, MessageMaps)] },
              {{sql_varchar, 80}, [emqx_plugin_2db:try_get_val(<<\"suid\">>, MessageMaps,\"string\")] },
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"temp\">>, MessageMaps,\"int\")] },
              {sql_integer , [emqx_plugin_2db:try_get_val(<<\"humi\">>, MessageMaps,\"int\")] }
              
          ]\."



        ] 
    }
  ]}
].

